<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.qzy.searchbackend.mapper.ArticleCommentMapper">

    <resultMap id="BaseResultMap" type="learn.qzy.searchbackend.model.entity.ArticleComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="serialNumber" column="serial_number" jdbcType="INTEGER"/>
            <result property="parentUsername" column="parent_username" jdbcType="VARCHAR"/>
            <result property="parentNickname" column="parent_nickname" jdbcType="VARCHAR"/>
            <result property="currentUsername" column="current_username" jdbcType="VARCHAR"/>
            <result property="currentNickname" column="current_nickname" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, article_id, serial_number, parent_username, parent_nickname, current_username, current_nickname, content, create_time, update_time, create_by, update_by, is_deleted
    </sql>

    <select id="selectMaxSerialNumberByArticleId" resultType="java.lang.Integer">
        SELECT MAX(serial_number)
        FROM article_comment
        WHERE article_id = #{articleId}
    </select>

    <select id="selectListAll" resultType="learn.qzy.searchbackend.model.vo.ArticleCommentVO">
        SELECT id,
               (SELECT title FROM content_article WHERE id = article_id) AS articleTitle,
               serial_number,
               parent_username,
               parent_nickname,
               current_username,
               current_nickname,
               content,
               create_time,
               update_time,
               (SELECT username FROM content_user WHERE id = create_by)  AS create_by,
               (SELECT username FROM content_user WHERE id = update_by)  AS update_by
        FROM article_comment
        WHERE is_deleted = 0
        ORDER BY create_time DESC
    </select>

</mapper>
