<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.qzy.searchbackend.mapper.CommentLikeMapper">

    <resultMap id="BaseResultMap" type="learn.qzy.searchbackend.model.entity.CommentLike">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentId" column="comment_id" jdbcType="BIGINT"/>
            <result property="likeCount" column="like_count" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_id,like_count,create_time,update_time,create_by,
        update_by,is_deleted
    </sql>
</mapper>
